<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">


    <title>Journey</title>
</head>
<body>
 
<div class="header-main-div">
    <div>
        <header id="global-header" class="user-header">
            <div class="logo-header">
                <a href="/" class="logo-link"><img id="logoPrime" src="https://i.imgur.com/5DNJU43.png" alt="Journey"></a>
            </div>
            <!-- <div class="header-right"> -->
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a  href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="#">Log In</a>
                    </li>
                    <li class="nav-item"></li>
                        <a href="#">Sign Up</a>
                    </li>   
                </ul>
         <!--    </div> -->
        </header>
    </div>
</div> -->