/* #global-header {
    overflow: hidden;
    padding: 20px 10px;
} */

#logoPrime {
    
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.navbar-nav {
    /* display: flex;
    flex-direction: row;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none; */
  
   
   
    border-radius: 25px;
    position: relative;
    text-align: center;
    height: fit-content;
    background-color: rgba(255, 255, 255, 0.4);
    display: inline;
  
}

.nav-item {
    display: inline;
    font-weight: bold;

    margin: 0 8px;
   
   
    margin-left: auto;
    margin-right: auto;

}

/* .header-right {
    float: right;
    
} */